/* IMPOSTAZIONI GENERALI */
html {
  font-size: 62.5%;
}

body {
  max-width: 1920px;
  min-width: 1366px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin: 0 auto;
  font-size: 1.2 rem;
  color: #393d41;
  line-height: 1.65;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
}

h1 {
  font-size: 4em;
  color: #25a2c3;
  padding-top: 1.7em;
  padding-bottom: 0.5em;
}

h2 {
  font-size: 3.6em;
  color: white;
  padding-top: 1.4em;
  padding-bottom: 1em;
}

h3 {
  font-size: 3em;
  padding: 1em 0;
}

h4 {
  font-size: 2.5em;
  color: #25a2c3;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

h5 {
  font-size: 2em;
  color: #25a2c3;
  margin: 0.9em 0;
}

p {
  font-size: 2.3em;
}

button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  cursor: pointer;
}

/* HEADER */
header div {
  background-color: black;
  height: 120px;
  display: grid;
  align-content: center;
}
header img {
  width: 18em;
  display: block;
  margin-left: 4em;
}

header section {
  height: 450px;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}

header p {
  padding: 0 10em;
}
header form input {
  padding: 1.3em 3em;
  background-color: #e82611;
  border: none;
  border-radius: 6px;
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin-top: 2em;
  font-size: 1.5em;
}

/* MAIN */

main section {
  margin: 4em 0;
  text-align: center;
}

.section-1 {
  display: inline-block;
  font-size: 0.8em;
  margin: 3em;
  width: 40%;
}

#div-2 {
  text-align: left;
}
#notebook_img {
  border-radius: 100%;
  margin: 2em;
  width: 60em;
}

main aside {
  background-color: #e82611;
  color: white;
  padding: 4em 0;
  margin-top: 8em;
  text-align: center;
}

blockquote {
  font-style: italic;
  font-size: 8px;
  line-height: 1.5;
  font-weight: 100;
  padding-bottom: 1em;
}

#ceo-name {
  font-weight: 300;
  font-size: 2em;
  margin-top: 2em;
}

main aside small {
  font-weight: 300;
  padding-bottom: 2em;
  margin-bottom: 2em;
  font-size: 1.3em;
}

.section-2 {
  border: 1px solid rgba(179, 179, 179, 0.356);
  margin: 3em;
  border-radius: 5px;
  padding-bottom: 5em;
  display: inline-block;
  font-size: 0.8em;
  margin: 3em;
  width: 20%;
  text-align: center;
}
.section-2 img {
  width: 100%;
  height: 25em;
}

.section-2 p {
  font-size: 1.7em;
  padding: 0 2em;
}

/* FOOTER */
footer {
  background: #11a4cc;
  color: white;
  padding-bottom: 6.5em;
  padding-top: 1.5em;
  text-align: center;
}
footer address {
  padding-bottom: 3em;
}
footer hr {
  border: none;
  border-top: 0.1px solid white;
  text-align: center;
  width: 30em;
}

.footer-links {
  color: white;
  font-weight: 100;
  font-size: 2em;
  text-decoration: none;
}

.footer-links em {
  text-decoration: underline;
}
footer blockquote {
  padding-top: 2em;
  font-size: 1.8em;
  font-style: normal;
}

#copyright-link {
  color: white;
}
